# 7_一歩進んだ予測モデルの構築
- 前章では「性別」という単一のデータから生死を予測する単回帰モデルを構築しました
- しかし、性別以外にも生死予測の参考になるデータはあるはずで、それらも考慮した予測モデルの方が精度が高くなると考えられます
- 今回は複数の特徴量から生死を予測する重回帰モデルの構築を行います

## ■写経

### ライブラリインポート（PandasとSciPy）
- 表形式データを簡単に扱うためのPandasをプログラムにインポートします。インポートすることでPandasの機能が有効化されます
- また予測モデルの構築のためにsklearnをインポートします

In [4]:
# 欠損値補完用のクラス
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

### データ読み込み（前章と同じ）
- Pandasの機能を使い、"train.csv"というデータをPythonコードで読み込み、Dataframeオブジェクトとして扱います

In [5]:
df_train = pd.read_csv("train.csv")

### データを見てみる（前章と同じ）
- head関数をつかって、先頭5行分のデータをダイジェスト表示します

In [7]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 前準備
- maleを0、femaleを1に置き換えた列を作成します

In [8]:
df_train["Sex_bi"] = df_train["Sex"].map({"male":0, "female":1})

In [9]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_bi
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

### 重回帰モデルで使用する特徴量と目的変数を定義し、欠損値処理をする
- 今回は性別、年齢、運賃（特徴量）が生死（目的変数）と関係するという仮説をたてています
- 今回はAgeに欠損値がある可能性があり、それを平均値で補完します

In [16]:
# 特徴量と目的変数定義
features = ["Sex_bi", "Age", "Fare"]
target = "Survived"

# 欠損値処理
# simpleimputerを使うと、欠損値を平均値で埋めることができる(skcit-learnのimputeモジュール)
imputer = SimpleImputer()
df_train[features] = imputer.fit_transform(df_train[features])

# 特徴量と目的変数のデータを分割
x_train = df_train [features]
y_train = df_train [target]

In [19]:
_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

### 重回帰モデルの作成と学習

In [6]:
# 空の予測モデルを作成
model = LinearRegression()

# 学習データを与えて学習
model.fit(x_train, y_train)

In [21]:
x_train

     Sex_bi        Age     Fare
0       0.0  22.000000   7.2500
1       1.0  38.000000  71.2833
2       1.0  26.000000   7.9250
3       1.0  35.000000  53.1000
4       0.0  35.000000   8.0500
..      ...        ...      ...
886     0.0  27.000000  13.0000
887     1.0  19.000000  30.0000
888     1.0  29.699118  23.4500
889     0.0  26.000000  30.0000
890     0.0  32.000000   7.7500

[891 rows x 3 columns]

In [22]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [20]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [23]:
model.coef_
# y = a1*x1 + a2*x2 + a3*x3 + b

array([ 0.51824834, -0.00158618,  0.0016486 ])

In [24]:
model.intercept_
# bに該当

0.19521710018554136

### テストデータに対する予測の実施
- 上記で学習したモデルに、テスト用のデータを予測させます

In [39]:
# 提出用テストデータを読み込みます（すなわち、学習したモデルの精度を測るための検証データセットです）
df_test = pd.read_csv("test.csv")
# 提出用データも同様に、'Sex'列を0、1に変換します
df_test["Sex_bi"] = df_test["Sex"].map({"male":0,"female":1})
# 提出用データの'Age'に欠損値がある場合も平均値で埋めます
df_test[features] = imputer.transform(df_test[features])
# 提出用データの特徴量を分割します
x_test = df_test [features]
# 提出用データに対する予測を行います
predictions = model.predict(x_test)
predictions

array([0.15340112, 0.65045518, 0.11284475, 0.16667126, 0.69882669,
       0.18821894, 0.67845755, 0.20178592, 0.69683228, 0.20172109,
       0.16112598, 0.1651165 , 0.8126085 , 0.13815143, 0.7397683 ,
       0.72109773, 0.16006104, 0.17381847, 0.68370375, 0.65399848,
       0.20590424, 0.18616887, 0.71859049, 0.2630973 , 1.06988124,
       0.13981283, 0.78074862, 0.1714392 , 0.18046612, 0.18384935,
       0.15877177, 0.20907979, 0.69504151, 0.70501704, 0.24283856,
       0.17779085, 0.67962854, 0.69443668, 0.17122432, 0.24124814,
       0.15547488, 0.19187937, 0.14312524, 0.68731188, 0.72872838,
       0.16862777, 0.17280251, 0.16088562, 0.74406941, 0.68257574,
       0.256065  , 0.17717418, 0.71965972, 1.10263523, 0.17379287,
       0.22737089, 0.15271783, 0.16817441, 0.17465146, 1.08891541,
       0.18126908, 0.16671547, 0.17944253, 0.69130493, 0.60714922,
       0.70097796, 0.69790387, 0.19056742, 0.19309254, 1.05187745,
       0.68817379, 0.17492435, 0.68053139, 0.19571157, 1.00662886,
       0.49234597, 0.1613802 , 0.66859463, 0.16906353, 0.68817379,
       0.2108343 , 0.45456907, 0.16035795, 0.16112598, 0.16576268,
       0.17193819, 0.68362825, 0.69818545, 0.67913396, 0.22996263,
       0.70148506, 0.16092683, 0.75636597, 0.1613802 , 0.19842629,
       0.16841477, 0.72290814, 0.16228305, 0.69469029, 0.1561444 ,
       0.73666108, 0.19525393, 0.16088562, 0.1667943 , 0.70212722,
       0.18793885, 0.17480071, 0.16088562, 0.1624724 , 0.18730461,
       0.15498826, 0.6791821 , 0.70858939, 0.69612838, 0.97916214,
       0.1904951 , 0.15872182, 0.73941095, 0.26215836, 0.71032991,
       0.72039679, 0.16088562, 0.753156  , 0.16275642, 0.16088562,
       0.7130429 , 0.17317331, 0.70468732, 0.15002937, 0.17042003,
       0.15773058, 0.15813474, 0.70834178, 0.15872182, 0.14002838,
       0.17009723, 0.16509448, 0.17540826, 0.69025455, 0.2090894 ,
       0.77492316, 0.91096742, 0.53101255, 0.19366775, 0.17236795,
       0.17572037, 0.23360966, 0.17359239, 0.19187937, 0.19049539,
       0.81407839, 0.16112598, 0.15234516, 0.67644838, 0.22634231,
       0.16959573, 1.03309228, 0.68993175, 0.17236795, 0.69493427,
       0.67910643, 0.20924812, 0.6944809 , 0.15964916, 0.15161555,
       0.70853525, 0.20232801, 0.22333661, 0.7120579 , 0.69334508,
       0.1605559 , 0.16430139, 0.18165054, 0.16002702, 0.18351543,
       0.75396829, 0.74232803, 0.20096475, 0.7206585 , 0.74904499,
       0.16906353, 0.27362352, 0.77245506, 0.16088562, 1.07870234,
       0.15814754, 0.71477633, 0.18152329, 0.78101768, 0.15320173,
       0.18415066, 0.19097264, 0.20088078, 0.11882034, 0.23610728,
       0.15582161, 0.40743725, 0.69773209, 0.17604529, 0.67973158,
       0.69191064, 0.21843356, 0.49576523, 0.7436397 , 0.17287293,
       0.1905468 , 0.6707258 , 0.17445911, 0.7068221 , 0.16857963,
       0.18159413, 0.15973159, 0.28942442, 0.66115831, 0.66600847,
       0.19866318, 0.67934696, 0.3766047 , 0.98283615, 0.1613802 ,
       0.68872687, 0.17517857, 0.69587981, 0.17475949, 0.67464512,
       0.69149156, 0.17158713, 0.67913396, 0.15587071, 0.15954645,
       0.28016983, 0.72392608, 0.17261631, 0.16109862, 0.25087399,
       0.17644195, 0.21775899, 0.17540465, 0.70634604, 0.81278145,
       0.67192613, 0.69154543, 0.34557621, 0.1611123 , 0.1867687 ,
       0.21568442, 0.71319015, 0.18217714, 0.71032991, 0.69018653,
       0.75775492, 0.17655867, 0.37788496, 0.172522  , 0.15932797,
       0.1605559 , 0.16088562, 0.16407531, 0.70475986, 0.1747252 ,
       0.16600722, 0.17485577, 0.7053841 , 0.7319647 , 0.16863077,
       0.16112598, 0.14810894, 0.1605559 , 0.67962854, 0.18253306,
       0.24629656, 0.16088562, 0.89771948, 0.69191064, 0.1600201 ,
       0.72460553, 0.16811438, 0.17463358, 0.18225237, 0.17763147,
       0.69126432, 0.21673698, 0.67913396, 0.7243241 , 0.74361549,
       0.15006698, 0.16006131, 0.29277398, 0.16002702, 0.1613802 ,
       0.21339365, 0.67733782, 0.16002702, 0.24610145, 0.15377634,
       0.16699345, 0.7804269 , 0.18384935, 0.22264316, 0.16216633,
       0.15727722, 0.1729135 , 0.16163202, 0.1714298 , 0.67913396,
       0.65572032, 0.39747762, 0.20931502, 0.26212164, 0.66534631,
       0.18094688, 0.17223229, 0.16059711, 0.66755344, 0.84983111,
       0.69924952, 0.34635958, 0.18239001, 0.16533869, 0.21225215,
       0.1667943 , 0.16748067, 0.17540826, 0.18664358, 1.00001624,
       0.1703576 , 0.75872683, 0.25282223, 0.19208157, 0.18333916,
       0.69791497, 0.18231959, 0.1600201 , 0.70927984, 0.16540727,
       0.19049539, 0.16589117, 0.14527414, 0.20749361, 0.16002702,
       0.18397619, 0.15695442, 0.26276934, 1.46609493, 0.17201369,
       0.70069837, 0.17540826, 0.66510867, 0.17940492, 0.69891453,
       0.74654006, 0.17287293, 0.28783824, 0.22465351, 0.74711582,
       0.15877177, 0.7047496 , 0.16109862, 0.16088562, 0.69151582,
       0.28687789, 0.73640238, 0.69891453, 0.16667126, 0.76521233,
       0.78101768, 0.17194495, 0.74399844, 0.74001439, 0.17206471,
       0.18086625, 0.88603108, 0.11749425, 0.146857  , 0.76276361,
       1.07463979, 0.6928505 , 0.18086625, 0.19040737, 0.23903175,
       0.16088562, 0.16696608, 0.69026203, 0.70987053, 0.16933471,
       0.78255637, 0.16996666, 0.12623666, 0.17468399, 0.22044435,
       0.31287942, 0.69752523, 0.20798098, 0.13797695, 0.18552837,
       0.78383043, 0.16910114, 0.76789821, 0.17313902, 0.15879465,
       0.93767992, 0.16956292, 0.77649655, 0.24590128, 0.17271196,
       0.18634726, 0.17604529, 0.46458781, 0.67908582, 0.73141642,
       0.67913396, 0.80315112, 0.68187028, 0.1613802 , 0.83113737,
       0.14610153, 0.1613802 , 0.18496892])

In [40]:

predictions = [round(pred) for pred in predictions]
predictions

[0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0]

In [27]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [10]:
# predictionsの各データを四捨五入してpredictionsに再代入する

### 提出用データの作成
- 提出データは、passenger id, Survivedという2列のデータ形式とします
- データをcsv形式で出力します

In [35]:
# 提出用のDataFrameを作成します
submission = pd.DataFrame({"PassengerId":df_test["PassengerId"], "Survived":predictions})

# 提出用のcsvファイルを作成します
submission.to_csv("submission_7.csv", index=False)

In [38]:
submission

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

### 答え合わせ
- この問題は、世界的なAIコンペサイトであるKaggleの練習問題コンペになっています
- そこでKaggleに上記の結果を提出して、スコア（予測精度）を確認しましょう
- https://www.kaggle.com/competitions/titanic/overview

# ■実践

### 答え合わせの後
- 性別のみの単回帰分析の結果と比較してどうだったでしょうか？
- 年齢は以前の分析で、あまり生死との関係性がないようでした
- ではFareはどうでしょうか？もし、精度向上が認められなかった場合、Fareも生死にはあまり相関がないかもしれません。それをここで確かめてみましょう

In [41]:
#pointbiserialrでFareの相関を確認
from scipy.stats import pointbiserialr

corr_fare,_ = pointbiserialr(df_train["Survived"], df_train["Fare"])
print("Point Biserial Corelation:", corr_fare)

Point Biserial Corelation: 0.25730652238496243

:

性別のみの単回帰分析で得られた結果は、  
Point Biserial Correlation: 0.5433513806577557なので、  
Fareは性別ほど相関がないようですね